[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NPM_CONFIG_PRODUCTION = "false"
  SECRETS_SCAN_OMIT_KEYS = "NODEMAILER_USER,NODE_ENV"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200