[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[build.environment]
  NPM_CONFIG_PRODUCTION = "false"
  NODE_ENV = "production"
  SECRETS_SCAN_OMIT_KEYS = "NODEMAILER_USER,NODE_ENV"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
  included_files = ["server/data.json"]

[functions."*"]
  node_bundler = "esbuild"
  config = { format = "esm" }

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200